click==7.1.2
Flask
gunicorn
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy
opencv-python==4.5.4.58
Werkzeug==1.0.1
opencv-contrib-python
opencv-python-headless
requests
line-bot-sdk
Pillow
